{% extends 'SwitchConnections/base.html' %}

{% block title %}Switch Connections - About us{% endblock %}
<h4>Crafting Dreams into Reality: Your Trusted Carpentry Partner</h4>

{% block content %}
<!-- Hero -->
<div id="intro-sc" class="p-5 text-center bg-image rounded-3" style="
background-image: url('../../static/images/hero/img.jpg');
background-size: cover; /* Ensure the image covers the entire element */
background-position: center center; /* Center the image both horizontally and vertically */
height: 500px;
">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Switch Connections</h1>
                <h4 class="mb-3">Creativity Redifined</h4>
                <a class="btn btn-outline-light btn-lg" href="{% url 'contact_us' %}" role="button">Talk to Us!</a>
            </div>
        </div>
    </div>
</div>
<br>
<!-- end hero -->
<br>
<h />
<h2 class="home-header">About</h2>
<div>
    <p>{{ about.text|linebreaksbr|safe }}</p>
</div>
<br>
{% if team %}
<h2 class="home-header">Meet The Team</h2>
<br>
<div class="team-members">
    {% for member in team %}
    <div class="member">
        <img src="{{member.profile_picture.url}}" class="profile-picture" alt="{{ member.name }}">
        <p>Name: {{member.name |default:"None" }}</p>
        <p>Position: {{ member.position |default:"None"}}</p>
        <p>Bio: {{ member.bio |default:"None"}}</p>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="team-members">
    {% endif %}
    {% endfor %}
</div>
<br>
{% endif %}
{% endblock %}