{% extends 'SwitchConnections/base.html' %}

{% block title %}Switch Connections - Contact us{% endblock %}

{% block herosub %}<h4>leave us a message</h4>{% endblock %}
{% block content %}
<div class="containe">
    <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>leave us a message:</p>
    </div>
    <div class="row">
        <div class="column">
            <img src="../../static/images/ndola.png" style="width:100%">
        </div>
        <div class="column">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}