{% extends 'SwitchConnections/base.html' %}
{% load static %}
{% load range_filter %}
{% block title %}Switch Connections - Home{% endblock %}
{% block herosub%}<h4>Creativity Redifined</h4>{% endblock %}
{% block content %}
<br>
{% if project_images %}
<h3 class="home-header">Projects</h3>
<div class="services">
    {% for image in project_images.all %}
    <div class="service">
        <a href="{% url 'portfolio' %}">

            <h4>Project name: {{ image.project }}"</h4>
            <img src="{{ image.image.url }}" alt="Project Image" class="project-image">
        </a>

    </div>


    {% endfor %}
</div>
{% endif %}
{% if services %}
<h3 class="home-header">Services</h3>
<div class="services">
    {% for service in services %}
    <div class="service">
        <a href="{% url 'service_detail' service.id %}">

            <h3 class="service-title">{{ service.service_name }}</h3>
            <p>{{ service.service_description }}</p><br>
            <h6 class="category">Category: {{ service.service_category }}</h6>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- team -->
{% if team %}
<h3 class="home-header">Meet The Team</h3>
<div class="team-members">
    {% for member in team %}
    <div class="member">
        <img src="{{member.profile_picture.url}}" class="profile-picture" alt="{{ member.name }}">
        <p>Name: {{member.name |default:"None" }}</p>
        <p>Position: {{ member.position |default:"None"}}</p>
        <p>Bio: {{ member.bio |default:"None"}}</p>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="team-members">
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}