{% extends 'SwitchConnections/base.html' %}
{% load static %}
{% block title %}Switch Connections - Home{% endblock %}
{% block content %}
<!-- Hero -->
<div id="intro-sc" class="p-5 text-center bg-image rounded-3" style="
    background-image: url('{{ banner.cover_image.url }}');
    height: 500px;
  ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Switch Connections</h1>
                <h4 class="mb-3">Creativity Redefined</h4>
                <a class="btn btn-outline-light btn-lg" href="{% url 'contact_us' %}" role="button">Hire Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Hero -->
{% endblock %}