{% extends 'SwitchConnections/base.html' %}

{% block title %}Switch Connections - Portfolio{% endblock %}
{% block herosub%}<h4>This is the portfolio page</h4>{% endblock %}

{% block content %}
<!-- <h3 class="home-header">Projects</h3> -->
<div class="services">
    {% for image in project_images.all %}
    <div class="service">
        <!-- <p>Description: {{ image.project.project_description }}"</p> -->
        <img src="{{ image.image.url }}" alt="Project Image" class="project-image">
    </div>
    {% endfor %}
</div>
{% endblock %}