{% extends 'SwitchConnections/base.html' %}

{% block title %}Switch Connections - Portfolio{% endblock %}

{% block content %}
<!-- Hero -->
<div id="intro-sc" class="p-5 text-center bg-image rounded-3" style="
background-image: url('../../static/images/hero/img-p.jpg');
background-size: cover; /* Ensure the image covers the entire element */
background-position: center center; /* Center the image both horizontally and vertically */
height: 500px;
">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Switch Connections</h1>
                <h4 class="mb-3">Creativity Redifined</h4>
                <a class="btn btn-outline-light btn-lg" href="{% url 'contact_us' %}" role="button">Talk to Us!</a>
            </div>
        </div>
    </div>
</div>
<br>
<!-- end hero -->
<div class="services">
    {% for image in project_images.all %}
    <div class="service">
        <!-- <p>Description: {{ image.project.project_description }}"</p> -->
        <img src="{{ image.image.url }}" alt="Project Image" class="project-image">
    </div>
    {% endfor %}
</div>
{% endblock %}