{% extends 'SwitchConnections/base.html' %}


{% block title %}Switch Connections - Service details{% endblock %}
{% block herosub%}<h4>This is the service details page</h4>{% endblock %}

{% block content %}

<div class="services">
    <div class="service">
        <h5>Title: {{ service.service_name |default:"None"}}</h5>
        <p>{{ service.service_description |default:"None"}}</p><br>
        {% if service.service_price %}
            <h5>Price: {{ service.service_price}}</h5>
        {% endif %}
        <h6>Category: {{ service.service_category |default:"None"}}</h6>
    </div>
    <!-- Add more service divs as needed -->
</div>
{% endblock %}