{% extends 'SwitchConnections/base.html' %}


{% block title %}Switch Connections - Services{% endblock %}
{% block herosub%}<h4>This is the services page</h4>{% endblock %}

{% block content %}
<div class="services">
    {% for service in services %}
    <div class="service">
        <a href="{% url 'service_detail' service.id %}">

            <h3 class="service-title">{{ service.service_name }}</h3>
            <p>{{ service.service_description }}</p><br>
            <h6 class="category">Category: {{ service.service_category }}</h6>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}