/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Define a global font family and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo-img {
    margin-left: 40%;
    /* margin-right: 40%; */
    width: 100px;
    height: 100px;
}

.my-nav-items {
    margin-left: 5%;
}

.home-header {
    text-align: center;
    color: blue;
}
/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Default styles for larger screens */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.member {
    width: calc(33.33% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.profile-picture {
    height: 250px;
    width: 250px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .team-members {
        flex-direction: column; /* Display members in a single column */
        align-items: center; /* Center-align members */
    }

    .member {
        width: 100%; /* Full width for each member */
        margin-bottom: 20px; /* Add space between members */
    }
}

/* Default styles for larger screens */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.service {
    width: calc(33.33% - 20px);
    padding: 10px;
    border: 1px solid #779;
    box-sizing: border-box;
}

.service a {
    text-decoration: none;
}

.service a:visited {
    color:green;
}

.service a:hover {
    color: hotpink;
}
/* 
a:active {
    color: black;
} */

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 100%;
        margin-bottom: 20px;
    }

    .service-title {
        font-size: 20px;
    }
    .service p {
        font-size: 15px;
    }
}

.service:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.service img {
    max-width: 100%;
    height: auto;
}

.services {
    padding: 20px;
}

.service {
    margin-bottom: 20px;
}

.service {
    transition: box-shadow 0.10s ease-in-out;
}

.service h3, h5{
    color: blue;
    text-align: center;
}
.service h6{
    color: green;
}

.project-image {
    height: 300px;
    width: 400px;
}